:root{
    /* Background colors*/
    --color1: #1f2937;
    --color2: #e5e7eb;
    --color3: #3882f6;

    /*fonts colors*/
    --color_font1: #f9faf8;
    --color_font2: #e5e7eb;
    --color_font3: #1f2937;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--color3);
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
    border: 0px solid;
    font-size: 18px;
}

header {
    background-color: var(--color1);
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 60px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    height: 80px;
}

.menu a {
    padding-right: 10px;
    text-decoration: none;
    color: var(--color_font1);
    font-size: 18px;
}

header .principal {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 30px;
}

header .principal h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--color_font1);
}

header .principal .item-1 {
    font-size: 18px;
    color: var(--color_font2);
    padding: 10px;
    max-width: 300px;
}

header .principal button {
    margin-top: 12px;
}

header .principal button:hover {
    color: var(--color_font3);
    background-color: var(--color_font1);
}

.one {
    text-align: center;
    padding: 20px;
}

.one h2{
    margin: 20px;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.one p {
    color: var(--color_font3);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.one .flex-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.one .flex-container .item {
    border: 3px solid var(--color3);
    border-radius: 10px;
}

.two {
    background-color: var(--color2);
    padding: 10vw;
}

.two p{
    font-size: 36px;
    color: var(--color_font3);
    font-style: italic;
    text-align: center;
}

.two .cite {
    color: var(--color_font3);
    font-size: 18px;
    font-style: normal;
    text-align: right;
}

.three {
    margin: 60px 15vw 60px 15vw;
    background-color: var(--color3);
    border-radius: 5px;
    color: var(--color_font1);
    padding: 30px;
    display: flex;
    align-items: center;
}

.three div {
    flex: 1;
}

.three .item-1 {
    flex: 2 1 0;
    padding-left: 30px;
}

.three button {
    font-size: 18px;
    border: 2px solid white;
}

.three button:hover {
    background-color: white;
    color: var(--color3);
    border: 2px solid white;
}

footer {
    text-align: center;
    background-color: var(--color1);
    height: 4vw;
    color: white;
    font-weight: bold;
}
footer p {
    background-color: var(--color1);
    padding-top: 8px;
    
}